### SERVER ###
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server.gradle

### WEB ###
web/.idea
# compiled output
web/dist
web/tmp
web/out-tsc

# dependencies
web/node_modules

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
server/nbproject/private/
server/build/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/