<section class="container">
  <!--<div *ngIf="calendarOptions">-->
    <!--<ng-fullcalendar #ucCalendar-->
                     <!--[options]="calendarOptions"-->
                     <!--[(eventsModel)]="calEvents"-->
                     <!--(select)="daySelect($event)"-->
                     <!--(eventClick)="eventClick($event)"-->
                     <!--(clickButton)="btnClick($event)">-->

    <!--</ng-fullcalendar>-->
  <!--</div>-->
  <iframe src="https://calendar.google.com/calendar/b/4/embed?title=vaCalendar&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=kingsley.ezenwere%40aurea.com&amp;color=%231B887A&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%2328754E&amp;src=en.ng%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=aurea.com_bve0sao0ntmr9i9ctqbp6b8d6o%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=aurea.com_9vsicrb82oqho24em3nf0e71cc%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=UTC"
          style="border-width:0"
          class="iframe"
          frameborder="0"
          scrolling="no">

  </iframe>
</section>
