<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>vaCalendar</title>
  <base href="/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="styles.a3b31a5b939e7b696433.css"></head>
<body>
<noscript>
  <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
    Your web browser must have JavaScript enabled in order for this
    application to display correctly.
  </div>
</noscript>
  <app-root></app-root>
<script type="text/javascript" src="runtime.b13f04259386f7e9dfa8.js"></script><script type="text/javascript" src="polyfills.fa24cbcb611db250a8ef.js"></script><script type="text/javascript" src="main.e5ea0ac928496b93492b.js"></script></body>
</html>
