
.form-control-group-container{
  position: relative;
}
.form-control-group-label {
  margin: 0px;
  position: absolute;
  top: -12px;
  left: 0px;
  color: #dddddd;
  background-color: #fff;
  padding: 0px 20px 0px 0px;
  font-size: 16px;
  text-transform: uppercase;
}
