//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tab-links a {
  text-decoration: none;
}

mat-card {
  padding-top: 4px !important;
}

.tab-actions {
  &.right-bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-grey, 800); // $mat-blue-grey
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}
